    <!-- About Section -->
    <section id="about" class="about container content-section text-left">
        <div class="row">
            <div class="col-md-6 wp1">
              <h1>ABOUT</h1>
              <br/>
			  <p>
			  Hello! I am Joey Hsiao, or officially Chiao-Yin Hsiao / 蕭喬尹. 
              I am a User Experience &amp; Human-Computer Interaction researcher specialized in mixed-methods and longitudinal field studies. 
              I am passionate about understanding how technologies influence user trust and community development.
			  My PhD research focused on recent immigrants' use of local P2P e-commerce platforms, 
              and contributed design recommendations that can largely improve this population's trust and commitment 
              to their local communities and also the platforms.
              </p>
              <p>
              I received my PhD degree from the <a href='https://www.si.umich.edu/' target="_blank">School of Information</a>, 
			  <a href='http://umich.edu/' target="_blank">University of Michigan</a> (UMSI) in 2021.
              During my PhD, 
              I was a member of the <a href='http://socialinnovations.us/' target="_blank">Social Innovations Group</a> (SIG), 
			  advised by Prof. <a href='http://www.tawannadillahunt.com/' target="_blank">Tawanna Dillahunt</a>.
			  I received a bachelor's degree and a master's degree from 
			  <a href='http://www.csie.ntu.edu.tw' target="_blank">Dept. of Computer Science and Information Engineering</a> 
			  at <a href='http://www.ntu.edu.tw' target="_blank">National Taiwan University</a> (NTU-CSIE), 
			  advised by Prof. <a href='http://agents.csie.ntu.edu.tw/~yjhsu/' target="_blank">Jane Yung-Jen Hsu</a>.
			  </p>
			  <p>
			  I believe in the theory - <a href="https://en.wikipedia.org/wiki/Interpersonal_ties" target="_blank"><i>strength of the weak ties</i></a>, 
			  so I love to meet new friends and introduce friends to each other.
			  </p>
			  <p>
			  For more details, please check my <a href='file/jcyhsiao_cv.pdf' target='_blank'>CV</a> (updated Feb. 2023).
			  </p>
			  <br />
              </div>
        </div>
    </section>
