{% assign recent = site.data.recent %}
{% assign past = site.data.past %}

<section id="projects" class="projects">
	<!-- Page Content -->
	<div class="container">

		<div class="row">
			<h1>SELECTED PROJECTS</h1>

			<h2>Ongoing Projects</h2>
			{% for proj in recent %}
			<div class="row row-centered project-info">
				<div class="col-md-6 features-leftcol wp2">
					<h3>{{ proj.name }}</h3>
					<div class="proj-metadata">
						<p> 
						<b>Project Overview</b>: {{ proj.description }} <br /><br/>
						<b>Role</b>: {{ proj.role }} <br />
						{% if proj.publications %}
						<br />
						<b>Publications</b>:
						<ul>
							{% for paper in proj.publications %}
							<li><a href= "file/papers/{{paper.url}}" target='_blank' class='paper'>{{ paper.type }}</a> ({{paper.venue}})</li>
							{% endfor %}
						</ul>
						{% endif %}
						</p>
					</div>
				</div>

				<div class="col-md-6 features-rightcol wp3 project-img">
					<center><img src="img/project/{{proj.img}}"></center>
				</div>
			</div>
			{% endfor %}


			<h2>Past Projects</h2>
			{% for proj in past %}
			<div class="row row-centered project-info">
				<div class="col-md-6 features-leftcol wp2">
					<h3>{{ proj.name }}</h3>
					<div class="proj-metadata">
						<p> 
						<b>Project Overview</b>: {{ proj.description }} <br /><br />
						<b>Role</b>: {{ proj.role }} <br /><br />

						{% if proj.publications %}
						<b>Publications</b>:
						<ul>
							{% for paper in proj.publications %}
							<li><a href= "file/papers/{{paper.url}}" target='_blank' class='paper'>{{ paper.type }}</a> ({{paper.venue}})</li>
							{% endfor %}
						</ul>
						{% endif %}
						</p>
					</div>
				</div>

				<div class="col-md-6 features-rightcol wp3 project-img">
					<center><img src="img/project/{{proj.img}}"></center>
				</div>
			</div>
			{% endfor %}



		</div>
	</div>

</section>
