<section id="projects" class="projects">
	<!-- Page Content -->
	<div class="container">

		<div class="row">

			<h1>SELECTED PROJECTS</h1>
			<div class="col-md-6 features-leftcol wp2">
				<h2>Conference Proceeding Papers</h2>
				<ul>
					<li>
						<b>Hsiao, J. C.-Y.</b>, and Dillahunt, T. R.
						People-Nearby Applications: How Newcomers Move Their Relationships Offline and Develop Social and Cultural Capital.
						To appear in <i>Proc. of CSCW'17</i> (AC rate: 33%). 
						<a href='file/papers/Hsiao_CSCW17.pdf' target='_blank' class='paper'>[paper]</a> 
					</li>
					<li>
						Rajan, R., <b>Hsiao, J. C.-Y.</b>, Lahoti, D., and Selker, T.
						&quot;Roger that!&quot; - The Value of Adding Social Feedback in Audio-mediated Communications.
						In <i>Proc. of INTERACT'13</i> (AC rate: 31%). 
						<a href='file/papers/Rajan_INTERACT13.pdf' target='_blank' class='paper'>[paper]</a>
					</li>
					<li>
						Tsai, W.-C. <b>Hsiao, J. C.-Y.</b>, Lee, H.-C., Huang, C.-H., Hu, J.-C., Liang, R.-H., and Hsu, Y.-J. 
						Designing a Reminiscence Aid in Personal Soundscape.
						In Proc. of <i>IASDR '13</i>.
						<a href='file/papers/Tsai_IASDR13.pdf' target='_blank' class='paper'>[paper]</a>
					</li>
				</ul>
			</div>

			<div class="col-md-6 features-rightcol wp3">
				<h2>Conference and Workshop Presentations </h2>
				<ul>
					<li>
						<b>Hsiao, J. C.-Y.</b>, Dillahunt, T. R.
						Detecting Life Changes: Increasing Opportunities to Benefit from People-Nearby Applications.
						To be presented at CHI 2017 (Presenter).
						<a href='file/papers/Hsiao_CHIEA17.pdf' target='_blank' class='paper'>[extended abstract]</a>
					</li>
					<li>
						<b>Hsiao, J. C.-Y.</b>, Pan, M.-H., Wang, H.-C., and Hsu, Y.-J.
						The Price of the Priceless: Understanding Estimated Costs of Work in Friendsourcing.
						Presented at CHI 2015 (Presenter).
						<a href='file/papers/Hsiao_CHIEA15.pdf' target='_blank' class='paper'>[extended abstract]</a>
					</li>
					<li>
						Tsai, W.-C., Lee, H.-C., <b>Hsiao, J. C.-Y.</b>, Liang, R.-H., and Hsu, Y.-J. 
						Framing Design of Reminiscence Aids with Transactive Memory Theory.
						Presented at CHI 2013.
						<a href='file/papers/Tsai_CHIEA13.pdf' target='_blank' class='paper'>[extended abstract]</a>
					</li>
					<li>
						Tsai, W.-C., <b>Hsiao, J. C.-Y.</b>, Lee, H.-C., Huang, C.-H., and Hsu, Y.-J. 
						In Search of Lost Sounds: Designing a Reminiscence Aid in Everyday Soundscape.
						Presented at DIS'12.
						<a href='file/papers/Tsai_DIS12.pdf' target='_blank' class='paper'>[paper]</a>
					</li>
					<li>
						<b>Hsiao, J. C.-Y.</b>, Jih, W.-R., and Hsu, Y.-J. 
						Recognizing Continuous Social Engagement Level in Dyadic Conversation by Using Turn-taking and Speech Emotion Patterns.
						Presented at AAAI'12 Activity Context Representation (ACR) Workshop (Presenter).
						<a href='file/papers/Hsiao_ACRws12.pdf' target='_blank' class='paper'>[paper]</a>
					</li>
				</ul>
			</div>

		</div>

	</div>


</section>
