{% assign papers  = site.data.papers %}
{% assign posters = site.data.posters %}

<section id="publications" class="publications">
	<!-- Page Content -->
	<div class="container">

		<div class="row">

			<h1>PUBLICATIONS</h1>
			<div class="col-md-6 features-leftcol wp1">
				<h2>Conference Proceeding Papers</h2>
				<ul>
					{% for paper in papers %}
					<li> 
						{{paper.authors}} ({{paper.year}}). {{paper.title}}. {{paper.venue}}.
						{% if paper.info %}
							({{paper.info}}).
						{% endif %}
						{% for file in paper.file %}
						<a href='file/papers/{{file.url}}' target='_blank' class='paper'>[paper]</a>
						{% endfor %}
					</li>
					{% endfor %}
				</ul>
			</div>

			<div class="col-md-6 features-rightcol wp1">
				<h2>Conference and Workshop Presentations </h2>
				<ul>
					{% for paper in posters %}
					<li> 
						{{paper.authors}} ({{paper.year}}). {{paper.title}}. {{paper.venue}}.
						{% if paper.info %}
							({{paper.info}}).
						{% endif %}
						{% for file in paper.file %}
						<a href='file/papers/{{file.url}}' target='_blank' class='paper'>[{{paper.type}}]</a>
						{% endfor %}
					</li>
					{% endfor %}
				</ul>
			</div>

		</div>

	</div>


</section>
